<h1 class="display-1 font-weight-bold text-light text-center mt-5 mb-3 title-shadow">J-B & Thom</h1>
<h2 class="display-4 text-light text-center mt-1 mb-5 title-shadow">Quarter Centuries</h2>
<h3 class="text-light text-center mt-1 mb-5 title-shadow">$$ Shaky Castle Party $$</h3>



<div class="numbers text-center " id="countdown" data-time="2021-12-04T18:30:00+0000">

    <div class="bloc text-light mb-5" >
        <strong id="days"></strong>
        <em>Jours</em>
    </div>

    <div class="bloc text-light" >
        <strong id="hours"></strong>
        <em>Heures</em>
    </div>

    <div class="bloc text-light" >
        <strong id="minutes"></strong>
        <em>Minutes</em>
    </div>

    <div class="bloc last text-light" >
        <strong id="seconds"></strong>
        <em>Secondes</em>
    </div>

</div>

<div class="card bg-form main-form ">
<%= form_with model: @user, local: true, url: inscription_path do |form| %>

    <% if @user.errors.any?%>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |message|%>
                <div><%= message %></div>
            <%end%>
        </div>
    <% end %>

    <div class="card-body">
        <div class="mb-4">
            <%=form.label :name, "Nom", class: "text-light"%>
            <%=form.text_field :name, class: "form-control", placeholder: "Macron" %>
        </div>
        <div class="mb-4">
            <%=form.label :first_name, "Prénom", class: "text-light"%>
            <%=form.text_field :first_name, class: "form-control", placeholder: "Emmanuel"  %>
        </div>
        <div class="mb-4">
            <%=form.label :email, "Adresse mail (on t'envoie les infos pratiques)",class: "form-label text-light"%>
            <%=form.text_field :email, class: "form-control", placeholder: "manuboss@monde.zob"  %>
        </div>
        <div class="mb-4 ml-4">
            <%=form.check_box :payed, class: "form-check-input " %>
            <%=form.label :payed, "IMPORTANT : J'ai bien compris que si je clique sur le bouton ci-dessous je m'engage à verser MAINTENANT la somme de 55€ sur la cagnotte Lydia prévu à cet effet pour aider au financement de la soirée.",class: "form-check-label text-light"%>
            
        </div>
        <div class="mb-5 d-flex justify-content-center">
            <%=form.submit "Je clique, je donne !", class: "btn btn-form text-light mt-4"%>
        </div>
    </div>
</div>
<% end %>


   